@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    @variants responsive {
        /* Hide scrollbar for Chrome, Safari, and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }
        /* Hide scrollbar for IE, Edge, and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }
        .scrollbar_style {}
    }
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: #111827;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #36373a;
    border-radius: 8px;
}