
{% autoescape off %}

Account Activation Failed

We're sorry, but it seems there was an issue activating your Puddle account. Please double-check the activation link to ensure it's entered correctly.

If the problem persists, you can request a new activation email by clicking the button below:

<a href="{% url 'signup_user' %}" class="bg-black p-3 text-white">Signup</a>

If you continue to experience difficulties, please contact our support team at [support@puddle.com] for assistance. We apologize for any inconvenience and appreciate your patience as we work to resolve this issue.

Thank you for choosing Puddle.

Best regards,
The Puddle Team

{% endautoescape %}
