{% extends 'base.html' %}

{% block Start %}

<div class="min-h-screen bg-gray-900  md:flex md:justify-center pt-5 md:p-10">
    <form method="post" class="m-3" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- catagory -->
        <div>            <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product Category</label>
            <select name="catagory" class="bg-gray-50 border md:w-96 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-b
lue-500" required>
                <option value="">Choose</option>
                {% for catagory in catagory %}
                <option value="{{catagory.id}}">{{catagory.name}}</option>
                {% endfor %}
            </select>
        </div>


        <!-- product name -->
        <div class="my-6">
            <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product Name</label>
            <input type="text" name="name"  class="bg-gray-50 border md:w-96 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  required>
          </div>

        <!-- product description-->
        <div>
            <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product Description</label>
            <textarea name="description" rows="5" class="bg-gray-50 border md:w-96 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required></textarea>
        </div>

        <!-- product price-->
        <div class="my-6">
            <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product Price</label>
            <input type="number" name="price" inputmode="numeric" class="bg-gray-50 border md:w-96 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
        </div>

        <!-- product image-->
        <div class="text-white">
            <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product Image</label>
            <input type="file" name="image" required>
        </div>

        <!-- Submit and reset-->
        <div class="my-6">
            <button type="submit" class=" bg-blue-700 border border-blue-700 text-white rounded py-2 px-3 mr-4">Add Item</button>
            <button type="reset" class=" border text-white rounded py-2 px-5">Reset</button>
        </div>
    </form>

</div>
{% endblock  %}
