
<footer class="min-h-[30vh] bg-gray-900 flex justify-between pt-10 px-5 md:px-20">
    <div>
        <h5 class=" text-gray-600 font-bold">About</h5>
        <p class="text-gray-500 pt-5">© All copyright reserved</p>

    </div>
    <div>
        <h5 class=" text-gray-600 font-bold">Menu</h5>
        <ul class=" text-white font-semibold pt-3 flex flex-col gap-2">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Term and condition</a></li>

        </ul>

    </div>
</footer>
<div class="text-center bg-gray-900 p-2 text-gray-500">Created by Tanmay</div>